{# src/ETO/ReservationBundle/Resources/views/Reservation/paiement.html.twig #}

{% extends "ETOReservationBundle::layout.html.twig" %}

{% block body %}

    <div class="col-md-12">
        <h2>Informations Billets</h2>

        <div>
            prochainement le formulaire pour les informations des billets
        </div>
        <a href="{{ path('eto_reservation_paiement') }}">
            <button type="button" class="btn btn-primary col-md-offset-10">Paiement</button>
        </a>
    </div>
{% endblock %}